<tr>
  <td colspan="42"><%= image_tag 'about_r16_c2.gif', :size => '899x237' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x237' %></td>
</tr>
<tr>
  <td colspan="42"><%= image_tag 'about_r17_c2.gif', :size => '899x34' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x34' %></td>
</tr>
<tr>
  <td rowspan="2"><%= image_tag 'about_r18_c2.gif', :size => '68x3072' %></td>
  <td colspan="35" valign="top" bgcolor="#ffffff">
<!--
    <p align="center">FIFTEENTH AVENUE BAPTIST CHURCH<br />
    (1885 -</p>
    <p align="center">What gain have the workers from their toil?<br />
      I have seen the business that God has given to everyone to be busy with.<br />
      He has made everything suitable for its time;<br />
      Moreover, he has put a sense of past and future into their minds,<br />
      yet they cannot find out what God has done from the beginning to the end.</p>
    <p align="center">Ecclesiastes 3:9-11, New Revised Standard Version<br />
    </p>
    <p align="center">Workers of the Past</p>
    <p align="center">When we pass a garden<br />
      and see everything in full bloom,<br />
      we don’t always think about the seeds<br />
      that were planted long before we got there.</p>
    <p align="center">by Iyanla</p>
    <p>The year was 1885. Less than twenty years earlier, the Civil War had come to an end and the South was in a period of recovery. While many Southerners faced economic crisis after the war, former slaves---now free men and women---were thriving. They left the plantations and rural areas behind and settled in urban areas like Nashville. These settlements formed the nuclei of major black communities such as North Nashville.</p>
    <p>Fifteenth Avenue Baptist Church had its beginning when a loyal band of Christians---Irene Smart, Bill Smith, Ed Marshall and others---formed the West Cedar Street Baptist Church. It was one of sixteen Black Baptist churches organized by the end of the 1880’s. For ten years they worshipped in a building on Cedar Street. Their hardships and struggles were many. In 1895, beset by internal difficulties, the group that was to become our mother church decided to relocate near the Stock Yard at the corner of 17th Avenue North and Lyon (now Jo Johnston) Avenue. God sent Reverend A. W. Porter as its first pastor.</p>
    <p align="left">“. . . Some sow, others water, but only God giveth the increase.”1 Corinthians. 3:6-7</p>
    <p>Reverend A. W. Porter (1895-1931)</p>
    <p align="left">Reverend Porter was a strong and dynamic leader and is credited with giving this church direction and guidance, enabling it to maintain aposition of leadership down through the years. To raise funds for the purchase of our first church building, Rev. Porter held the first revival service at a livery stable at 17th Avenue North and Cedar Street. By 1900, the church had its first permanent church home---a frame structure on Stonewall Street (later to become Fifteenth Avenue). The church continued to progress and Reverend Porter continued to make his ministry felt at Fifteenth Avenue, in Nashville, as well as throughout the denomination. When he suffered failing health in 1929, Reverend Walter R. Murray was called as Acting Pastor.</p>
    <p>Reverend W. R. Murray (1929-1953)</p>
    <p>As Joshua in biblical times continued the spiritual work of Moses, so did Reverend Murray continue what Reverend Porter commenced. Under his pastorate, there was a new upsurge in growth and activity. Despite a depression that gripped the nation, souls were added to the vineyard, a baptistery and dining room were added and the membership crystallized with the establishment of numerous organizations. In 1951, the church was forced to again find a new home at 1203 Ninth Avenue North, our present site. After nearly 25 years of faithful service, Rev. Murray was called to his heavenly home. In April 1954, the Reverend Leroy Crinel was installed as the church’s third pastor.</p>
    <p>Reverend Leroy Crinel (1953-1960)</p>
    <p>As Shepard of a membership of five hundred members, the church saw a need for more expansion, and began a building fund in 1958 for a new edifice. Church clubs like the Women’s Progressive, Rose of Sharon, Willing Workers, and the Nurse’s Aid Guild were organized to assist in the fundraising. Construction for the new worship place began in 1959. During the interim, worship services were held at Elliott School auditorium on Sixth and Jefferson Street. After the termination of Reverend Crinel’s ministry, Reverend Enoch Jones was call to the pastorate in January 1961.</p>
    <p>Reverend Enoch Jones (1961-1994)</p>
    <p>Reverend Jones plunged immediately into securing sufficient funds for the completion of the edifice begun under the pastorate of Reverend Crinel. On Sunday, August 6, 1961, Reverend Jones and the jubilant members entered their new edifice singing, “We’ve Come This Far by Faith.” Ten years later, the church liquidated the $100,000 debt. Later, construction began on the educational-recreational edifice that today stands as the Enoch Jones Activity Center. Under Reverend Jones’ leadership, the membership increased by several hundred people. The enabled the church to raise its projected annual budgets while increasing its contributions to educational institutions, missions, and community services. After 30 years of service, Reverend Jones retired in 1992. He now bears the distinguished title of “Pastor Emeritus.” In June 1994, God sent to us the Reverend William Buchanan.</p>
    <p><%= image_tag 'fifteenth.jpg', :size => '327x491' %></p>
    <p>Workers for the Future</p>
    <p>“Where there is no vision, the people will perish.”<br />
      Proverbs 29:18<br />
    </p>
    <p>Reverend William Buchanan (1994-</p>
    <p>A new model of ministry for the body of Christ is operative in us. Pastor Buchanan has become a catalyst for Holy Spirit-inspired new dimensions in worship activities and is leading us toward the fulfillment of a new vision God has set before us. With new energy, Pastor Buchanan has led us toward the fulfillment of a new vision God has set before us.</p>
    <p>The concept of VISION is deeply rooted in biblical history. Solomon proclaims in Proverbs 29:18 that “Where there is no vision, the people will perish…” Vision is essential to the unfolding and forward movement of Fifteenth Avenue Baptist Church. It also is the bedrock of Kingdom Ministry. John S. Dunne in The Reasons of the Heart, speaks of an adage from the Bushman tribe—”There is a dream, dreaming us.” Dunne says, “We are part of a dream (vision).” The dream dreaming us is God’s vision of us. What a sobering thought that something as fragile and sinful as humanity is a part of the vision of God for lost humanity! However, as essential as a vision is to the church, it can be difficult to define in any substantive way. A vision deals with a reality that is not yet or a reality that is becoming. George Barna, in his book, The Power of Vision, consistently describes a vision as opposed to defining it — “vision is about stretching reality to extend beyond the existing state...a vision connotes a reality that does not exist currently.” Therefore, if a vision is anything, it is seeing the future from the present; it is looking toward a future that is captured only in the heart.</p>
    <p>Success Judged by Ministry, Not Numbers</p>
    <p>In ten years, Pastor Buchanan has brought to us a bold new model of ministry. Under his watch, “ministry” has become the mantra for all members. God has richly blessed our congregation with persons of many gifts and resources. One of the Pastor’s gifts is discerning how best to use each individual gift for the betterment of the church body. Under his leadership, the church’s ministries include the following: Love Kitchen for the homeless, the Forever Young (a ministry for seniors), the Community Development Corporation, the ChristFund, an endowment to provide scholarships for high school graduates, Children’s Church, an expanded Christian Education Department, the Nineveh Outreach Program, the Prison Ministry, the Angel Food Ministry, the Bus Ministry, the Radio Worship Program, LifeSpring (grief and pastoral counseling ministry), Psalm 46 (a disaster preparedness ministry) and many other initiatives which expand the church beyond the wall of the physical building.</p>
    <p>The Fruit</p>
    <p>A Ministry of Social Action: The Fifteenth Avenue Baptist Community Development Corporation<br />
      “Creativity is the ability to see<br />
      that which is waiting to exist.”</p>
    <p>&nbsp;</p>
    <p>In early 1999, the church membership unanimously voted to establish a Community Development Corporation. This vehicle would serve to facilitate a social action ministry and allow for the delivery of more effective services to assist people in meeting their physical, emotional and spiritual needs. Three initiatives were established to chart the organization’s direction: educational (a tutorial—after-school program, day care for children, computer leaning center, financial assistance for students); economic development (employment and training programs, business incubation); and social services (adult day care, senior care, affordable housing, benevolence, counseling, love kitchen, food source.)</p>
    <p>The FABCDC is bearing much fruit. As a faith-based, tax exempt 501(c)(3) organization whose vision is to enhance the lives of the people in the community, it has received more than four million dollars in funding for its initiatives. To date:</p>
    <p> * Six single family homes have been built and purchased;<br />
      * Home ownership and financial management classes have been taught to more than 200 households;<br />
      * “The Fifteenth Avenue Baptist Church’s Village Manor”, a 25-unit senior living facility, has been constructed;<br />
      * 9 4 2 Jefferson Street, an 18,000 square-foot mixed use project featuring a mixed office and residential complex (one- and two-bedroom apartments), has been constructed;<br />
      * A free income tax preparation service, in partnership with the Mayor’s Nashville Wealth Building Alliance, has served over 200 low-income households;<br />
      * The FABC Child Care Center, which opened in 2002, provides nurturing care to over 50 children ages six weeks to four years; and,<br />
      * Career Express, an intensive workforce training program and cooperative effort with LeMoyne-Owen College Community Development Corporation and the Tennessee Department of Transportation, has prepared 17 participants to enter the highway construction and other industry-related work.<br />
    </p>
    <p> A few years ago, the Tennesssean wrote this:</p>
    <p> “What’s exciting about Fifteenth Avenue Baptist Church is they have taken ownership in their neighborhood to address conditions in their community to make it better for all the people there”<br />
    </p>
    <p> “When spider webs unite, they can tie a lion.”</p>
    <p> An Ethiopian Proverb</p>
    <p>&nbsp;</p>
    <p> Pastor Buchanan has written “the image of (our church) that best harmonizes with the<br />
      Gospel mandate is ‘Servant Model’---a church that exists to serve others. Truly, the faith<br />
      community we call Fifteenth Avenue Baptist Church is rebuilding the walls within our community because “the people have a mind to work. (Nehemiah 4:6). And in all things, we will be careful to give God the glory!<br />
    </p>
    <p> . . . And when I am through with this old house of clay,<br />
      just box it up and lay it away,<br />
      for the builder has promised when this house is spent<br />
      to have me one all finished with the timber I have sent.<br />
      While I live here in this one, of course,<br />
      it will be exactly as I have built here you see.<br />
      It’s the finest material each can send across<br />
      and if we build poorly of course it’s our loss.</p>
    <p> You ask what kind of material was best to select.<br />
      It has been told to you long since by the great architect.<br />
      ‘A new commandment I give unto you<br />
      that you love one another as I have loved you.<br />
      So the best material to send up above<br />
      is the clean, straight grain timber of brotherly love.<br />
    </p>
    <p> Excerpts from The Earthly House<br />
      By Mother Ollie Reynolds</p>
    <p>&nbsp;</p>
    <p> Compiled by Barbara D. Toms</p>        <p style="margin:0px"></p>
    -->
  </td>
  <td rowspan="2" colspan="3"><%= image_tag 'about_r18_c27.gif', :size => '82x3072' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x3044' %></td>
</tr>
<tr>
  <td colspan="42"><%= image_tag 'about_r19_c3.gif', :size => '749x28' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x28' %></td>
</tr>
