<tr>
  <td colspan="41"><%= image_tag 'index4_r16_c2.gif', :size => '900x339' %></td>
  <td><div align="center"><%= image_tag 'spacer.gif', :size => '1x339' %></div></td>
</tr>
<tr>
  <td rowspan="17"><%= image_tag 'index4_r17_c2.gif', :size => '12x856' %></td>
  <td rowspan="3" colspan="27" valign="top" bgcolor="#7E3131"><p style="margin:0px"> 
    <object id="FlashID" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="575" height="250">
      <param name="movie" value="/images/banner.swf" />
      <param name="quality" value="high" />
      <param name="wmode" value="opaque" />
      <param name="swfversion" value="9.0.45.0" />
      <!-- This param tag prompts users with Flash Player 6.0 r65 and higher to download the latest version of Flash Player. Delete it if you don’t want users to see the prompt. -->
      <param name="expressinstall" value="/javascripts/expressInstall.swf" />
      <!-- Next object tag is for non-IE browsers. So hide it from IE using IECC. -->
      <!--[if !IE]>-->
      <object type="application/x-shockwave-flash" data="/images/banner.swf" width="575" height="250">
        <!--<![endif]-->
        <param name="quality" value="high" />
        <param name="wmode" value="opaque" />
        <param name="swfversion" value="9.0.45.0" />
        <param name="expressinstall" value="/javascripts/expressInstall.swf" />
        <!-- The browser displays the following alternative content for users with Flash Player 6.0 and older. -->
        <div>
          <h4>Content on this page requires a newer version of Adobe Flash Player.</h4>
          <p><a href="http://www.adobe.com/go/getflashplayer"><%= image_tag '', :size => '' %> src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" width="112" height="33" /></a></p>
        </div>
        <!--[if !IE]>-->
      </object>
      <!--<![endif]-->
    </object>
  </p></td>
  <td colspan="13"><%= image_tag 'index4_r17_c30.gif', :size => '290x18' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x18' %></td>
</tr>
<tr>
  <td rowspan="5" colspan="4"><%= image_tag 'index4_r18_c30.gif', :size => '25x310' %></td>
  <td colspan="8" valign="top" bgcolor="#843A3A">
    <p style="margin:0px">
    <script src="http://widgets.twimg.com/j/2/widget.js"></script>
    <script>
    new TWTR.Widget({
      version: 2,
      type: 'profile',
      rpp: 1,
      interval: 6000,
      width: 250,
      height: 300,
      theme: {
        shell: {
          background: '#301c03',
          color: '#ffffff'
        },
        tweets: {
          background: '#8a6e11',
          color: '#ffffff',
          links: '#081403'
        }
      },
      features: {
        scrollbar: false,
        loop: false,
        live: false,
        hashtags: true,
        timestamp: true,
        avatars: false,
        behavior: 'all'
      }
    }).render().setUser('Revbuckman').start();
    </script>
    </p>
  </td>
  <td rowspan="16"><%= image_tag 'index4_r18_c42.gif', :size => '12x838' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x236' %></td>
</tr>
<tr>
  <td rowspan="4" colspan="8"><%= image_tag 'index4_r19_c34.gif', :size => '253x74' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x7' %></td>
</tr>
<tr>
  <td colspan="27"><%= image_tag 'index4_r20_c3.gif', :size => '598x56' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x56' %></td>
</tr>
<tr>
  <td rowspan="6" colspan="3"><%= image_tag 'index4_r21_c3.gif', :size => '88x168' %></td>
  <td rowspan="3" colspan="9"><%= link_to (image_tag 'index4_r21_c6.gif', :size => '239x149'), "pastor.mov" %></td>
  <td colspan="15"><%= image_tag 'index4_r21_c15.gif', :size => '271x8' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x8' %></td>
</tr>
<tr>
  <td rowspan="12" colspan="2"><%= image_tag 'index4_r22_c15.gif', :size => '19x531' %></td>
  <td rowspan="3" colspan="12"><%= link_to (image_tag 'index4_r22_c17.gif', :size => '237x145'), 'childdevelopment' %></td>
  <td rowspan="12"><%= image_tag 'index4_r22_c29.gif', :size => '15x531' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x3' %></td>
</tr>
<tr>
  <td rowspan="11"><%= image_tag 'index4_r23_c30.gif', :size => '9x528' %></td>
  <td rowspan="2" colspan="9"><a href="http://www.fabcdc.org/"><%= image_tag 'index4_r23_c31.gif', :size => '235x142' %></a></td>
  <td rowspan="3" colspan="2"><%= image_tag 'index4_r23_c40.gif', :size => '34x152' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x138' %></td>
</tr>
<tr>
  <td rowspan="3" colspan="9"><%= image_tag 'index4_r24_c6.gif', :size => '239x19' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x4' %></td>
</tr>
<tr>
  <td rowspan="2" colspan="12"><%= image_tag 'index4_r25_c17.gif', :size => '237x15' %></td>
  <td colspan="9"><%= image_tag 'index4_r25_c31.gif', :size => '235x10' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x10' %></td>
</tr>
<tr>
  <td rowspan="2" colspan="10"><a href="announcements.htm"><%= image_tag 'index4_r26_c31.gif', :size => '239x147' %></a></td>
  <td rowspan="8"><%= image_tag 'index4_r26_c41.gif', :size => '30x376' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x5' %></td>
</tr>
<tr>
  <td rowspan="7"><%= image_tag 'index4_r27_c3.gif', :size => '74x371' %></td>
  <td colspan="10"><a href="sermons.htm"><%= image_tag 'index4_r27_c4.gif', :size => '247x142' %></a></td>
  <td rowspan="7"><%= image_tag 'index4_r27_c14.gif', :size => '6x371' %></td>
  <td rowspan="7" colspan="2"><%= image_tag 'index4_r27_c17.gif', :size => '6x371' %></td>
  <td colspan="9"><a href="onlinegiving.htm"><%= image_tag 'index4_r27_c19.gif', :size => '221x142' %></a></td>
  <td rowspan="7"><%= image_tag 'index4_r27_c28.gif', :size => '10x371' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x142' %></td>
</tr>
<tr>
  <td colspan="10"><%= image_tag 'index4_r28_c4.gif', :size => '247x10' %></td>
  <td rowspan="2" colspan="9"><%= image_tag 'index4_r28_c19.gif', :size => '221x15' %></td>
  <td colspan="10"><%= image_tag 'index4_r28_c31.gif', :size => '239x10' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x10' %></td>
</tr>
<tr>
  <td rowspan="3" colspan="9"><a href="christfund.htm"><%= image_tag 'index4_r29_c4.gif', :size => '237x139' %></a></td>
  <td rowspan="5"><%= image_tag 'index4_r29_c13.gif', :size => '10x219' %></td>
  <td rowspan="5" colspan="2"><%= image_tag 'index4_r29_c31.gif', :size => '8x219' %></td>
  <td rowspan="4" colspan="8"><a href="http://www.facebook.com/pages/Fifteenth-Avenue-Baptist-Church/356456171650" target="_blank"><%= image_tag 'index4_r29_c33.gif', :size => '231x146' %></a></td>
  <td><%= image_tag 'spacer.gif', :size => '1x5' %></td>
</tr>
<tr>
  <td colspan="8"><a href="updates1.htm"><%= image_tag 'index4_r30_c19.gif', :size => '212x129' %></a></td>
  <td rowspan="4"><%= image_tag 'index4_r30_c27.gif', :size => '9x214' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x129' %></td>
</tr>
<tr>
  <td rowspan="3" colspan="8"><%= image_tag 'index4_r31_c19.gif', :size => '212x85' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x5' %></td>
</tr>
<tr>
  <td rowspan="2" colspan="9"><%= image_tag 'index4_r32_c4.gif', :size => '237x80' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x7' %></td>
</tr>
<tr>
  <td colspan="8"><%= image_tag 'index4_r33_c33.gif', :size => '231x73' %></td>
  <td><%= image_tag 'spacer.gif', :size => '1x73' %></td>
</tr>
<script type="text/javascript">
<!--
swfobject.registerObject("FlashID");
//-->
</script>
