<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Fifteenth Avenue Baptist Church</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<body bgcolor="#ffffff">
<div align="center">
  <table border="0" cellpadding="0" cellspacing="0" width="902">
    <tr>
      <td><%= image_tag "spacer.gif", :size => "2x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "12x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "74x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "8x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "6x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "31x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "21x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "58x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "19x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "22x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "24x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "48x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "10x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "6x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "11x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "8x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "3x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "3x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "13x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "59x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "17x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "16x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "24x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "45x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "19x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "19x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "9x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "10x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "15x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "9x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "6x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "2x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "8x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "23x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "1x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "16x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "53x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "64x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "62x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "4x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "30x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "12x1" %></td>
      <td><%= image_tag "spacer.gif", :size => "1x1" %></td>
    </tr>
    <tr>
      <td colspan="42"><%= image_tag 'index4_r1_c1.gif', :size => '902x16' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x16' %></td>
    </tr>
    <tr>
      <td colspan="21"><%= image_tag 'index4_r2_c1.gif', :size => '455x1' %></td>
      <td rowspan="7" colspan="3"><%= banner_link("index4_r2_c22.gif", "85x14", photos_path(), "index4_r2_c22_f2.gif") %></td>
      <td rowspan="9"><%= image_tag 'index4_r2_c25.gif', :size => '19x24' %></td>
      <td rowspan="5" colspan="10"><%= banner_link("index4_r2_c26.gif", "102x12", sermons_path(), "index4_r2_c26_f2.gif") %></td>
      <td rowspan="9"><%= image_tag 'index4_r2_c36.gif', :size => '16x24' %></td>
      <td rowspan="6" colspan="2"><%= banner_link("index4_r2_c37.gif", "117x13", businesses_path(), "index4_r2_c37_f2.gif") %></td>
      <td rowspan="13" colspan="4"><%= image_tag 'index4_r2_c39.gif', :size => '108x40' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x1' %></td>
    </tr>
    <tr>
      <td colspan="19"><%= image_tag 'index4_r3_c1.gif', :size => '379x2' %></td>
      <td rowspan="3"><%= banner_link("index4_r3_c20.gif", "59x10", ministries_path(), "index4_r3_c20_f2.gif") %></td>
      <td rowspan="8"><%= image_tag 'index4_r3_c21.gif', :size => '17x23' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x2' %></td>
    </tr>
    <tr>
      <td colspan="7"><%= image_tag 'index4_r4_c1.gif', :size => '154x1' %></td>
      <td rowspan="5"><%= banner_link("index4_r4_c8.gif", "58x11", about_main_path(), "index4_r4_c8_f2.gif") %></td>
      <td rowspan="7"><%= image_tag 'index4_r4_c9.gif', :size => '19x21' %></td>
      <td rowspan="6" colspan="6"><%= banner_link("index4_r4_c10.gif", "121x12", pastor_path(), "index4_r4_c10_f2.gif") %></td>
      <td rowspan="7" colspan="4"><%= image_tag 'index4_r4_c16.gif', :size => '27x21' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x1' %></td>
    </tr>
    <tr>
      <td rowspan="10" colspan="4"><%= image_tag 'index4_r5_c1.gif', :size => '96x36' %></td>
      <td rowspan="4" colspan="2"><%= banner_link("index4_r5_c5.gif", "37x10", root_path(), "index4_r5_c5_f2.gif") %></td>
      <td rowspan="10"><%= image_tag 'index4_r5_c7.gif', :size => '21x36' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x7' %></td>
    </tr>
    <tr>
      <td rowspan="5"><%= image_tag 'index4_r6_c20.gif', :size => '59x13' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x1' %></td>
    </tr>
    <tr>
      <td rowspan="4" colspan="10"><%= image_tag 'index4_r7_c26.gif', :size => '102x12' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x1' %></td>
    </tr>
    <tr>
      <td rowspan="3" colspan="2"><%= image_tag 'index4_r8_c37.gif', :size => '117x11' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x1' %></td>
    </tr>
    <tr>
      <td rowspan="6" colspan="2"><%= image_tag 'index4_r9_c5.gif', :size => '37x26' %></td>
      <td rowspan="2"><%= image_tag 'index4_r9_c8.gif', :size => '58x10' %></td>
      <td rowspan="2" colspan="3"><%= image_tag 'index4_r9_c22.gif', :size => '85x10' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x1' %></td>
    </tr>
    <tr>
      <td colspan="6"><%= image_tag 'index4_r10_c10.gif', :size => '121x9' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x9' %></td>
    </tr>
    <tr>
      <td rowspan="3" colspan="3"><%= banner_link("index4_r11_c8.gif", "99x13", prayer_requests_path(), "index4_r11_c8_f2.gif") %></td>
      <td rowspan="4"><%= image_tag 'index4_r11_c11.gif', :size => '24x16' %></td>
      <td rowspan="2" colspan="2"><%= banner_link("index4_r11_c12.gif", "58x12", calendar_path(), "index4_r11_c12_f2.gif") %></td>
      <td rowspan="4" colspan="4"><%= image_tag 'index4_r11_c14.gif', :size => '28x16' %></td>
      <td rowspan="2" colspan="5"><%= banner_link("index4_r11_c18.gif", "108x12", schedule_path(), "index4_r11_c18_f2.gif") %></td>
      <td rowspan="4"><%= image_tag 'index4_r11_c23.gif', :size => '24x16' %></td>
      <td colspan="8"><%= banner_link("index4_r11_c24.gif", "132x10", links_path(), "index4_r11_c24_f2.gif") %></td>
      <td rowspan="4" colspan="3"><%= image_tag 'index4_r11_c32.gif', :size => '33x16' %></td>
      <td rowspan="2" colspan="3"><%= banner_link("index4_r11_c35.gif", "70x12", contacts_path(), "index4_r11_c35_f2.gif") %></td>
      <td rowspan="4"><%= image_tag 'index4_r11_c38.gif', :size => '64x16' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x10' %></td>
    </tr>
    <tr>
      <td rowspan="3" colspan="8"><%= image_tag 'index4_r12_c24.gif', :size => '132x6' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x2' %></td>
    </tr>
    <tr>
      <td rowspan="2" colspan="2"><%= image_tag 'index4_r13_c12.gif', :size => '58x4' %></td>
      <td rowspan="2" colspan="5"><%= image_tag 'index4_r13_c18.gif', :size => '108x4' %></td>
      <td rowspan="2" colspan="3"><%= image_tag 'index4_r13_c35.gif', :size => '70x4' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x1' %></td>
    </tr>
    <tr>
      <td colspan="3"><%= image_tag 'index4_r14_c8.gif', :size => '99x3' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x3' %></td>
    </tr>
    <tr>
      <td rowspan="19"><%= image_tag 'index4_r15_c1.gif', :size => '2x1202' %></td>
      <td colspan="41"><%= image_tag 'index4_r15_c2.gif', :size => '900x7' %></td>
      <td><%= image_tag 'spacer.gif', :size => '1x7' %></td>
    </tr>

    <%= yield %>
  </table>
</div>
</body>
</html>
